/* **************************************** VARIABLES **************************************** */
:root {
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #14192d;
    --second-alpha-color: rgba(20, 25, 45, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #0a6ecc;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
    /* Test */
    --color-first:  rgb(0, 119, 255);
}
/* **************************************** VARIABLES **************************************** */

/* **************************************** RESET **************************************** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
  }
  
a:hover {
    opacity: 0.75;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-size: 1.25rem;
}

h4 {
    margin: 0;
    font-size: 1rem;
}

h5 {
    margin: 0;
    font-size: 0.85rem;
}

h6 {
    margin: 0;
    font-size: 0.7rem;
}

img {
    max-width: 100%;
    height: auto;
  }

p {
    line-height: 1.6;
}
/* **************************************** RESET **************************************** */

/* **************************************** UTILITIES **************************************** */
/* Ocultar elementos */
.none {
    display: none;
}
/* Ocultar elementos */

/* ---- */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}
/* ---- */

/* Botón */
.btn {
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}
/* Botón */

/* Clases para alinear */
.text-center {
    text-align: center;
}
  
.text-left {
    text-align: left;
  }
  
.text-right {
    text-align: right;
}

.margin-top {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.mgn-bttm {
    margin-bottom: 5px;
}
/* Clases para alinear */

/* Para dar espacios entre las secciones entre el inicio y acerca
Móvil y PC*/
.section {
    padding: 1rem 1rem;
}

@media screen and (min-width: 1024px) {
    .sectionAbout {
        padding: 3.5rem 1rem;
    }

    /* Clases para alinear PC*/
    .text-lg-center {
        text-align: center;
    }
  
    .text-lg-left {
        text-align: left;
    }
  
    .text-lg-right {
        text-align: right;
    }

    .margin-lg-top {
        margin-top: 1rem;
    }
    /* Clases para alinear PC*/
}
/* Para dar espacios entre las secciones entre el inicio y acerca
Móvil y PC*/

/* Títulos para cada section */
.section-title {
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
}
/* Títulos para cada section */
/* **************************************** UTILITIES **************************************** */

/* **************************************** HEADER **************************************** */
.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1200;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo a img {
    min-width: 40px;
    max-height: 40px;
}

.menu-btn {
    outline: thin solid var(--color-first);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
    margin-bottom: 8px;
}

.menu-btn svg {
    fill: var(--color-first);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.menu a {
    padding: 0.4rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--color-first); 
}

/* JavaScript */
.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a:hover {
    color: var(--black-color);
    background-color: var(--color-first);
}
/* JavaScript */

/* Para tabletas/pc */
@media screen and (min-width: 1024px) {
    .header {
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height) - 0.5rem);
    }

    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
    }

    .menu a {
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--white-color);
    }

    .menu a:last-child {
        padding-right: 0;
    }
}
/* Para tabletas/pc */
/* **************************************** HEADER **************************************** */

/* **************************************** HOME **************************************** */
.hero-image {
    /* variables --image y --attachment son declaradas en el html con style */
    background-image: url(../assets/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
  
.hero-image-opacity {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--black-alpha-color); 
}
  
.hero-image-title {
    font-size: 7.5vw;
    color: var(--white-color);
}

.hero-image-subtitle {
    font-size: 5.5vw;
    color: var(--white-color);
}

.hero-image-content svg {
    width: 100px;
    height: 100px;
}
/* **************************************** HOME **************************************** */

/* **************************************** ABOUT **************************************** */
.about {
    width: 100%;
    height: auto;
}

.about-profile {
    width: 100%;
    text-align: center;
}

.about-profile img {
    border-radius: 50%;
    width: 200px;
    height: 220px;
    box-shadow: 0 0 2rem rgb(0, 119, 255, 0.3);
}

.table {
    margin: 15px 0;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.table__data {
    padding-left: 1rem;
}

.table__data-svg {
    width: 20px;
    height: 20px;
    fill: var(--link-color);
} 

.about-link {
    text-decoration: none;
}

.downland-cv {
    display: grid;
    grid-template-columns: repeat(2, 46%);
    margin-top: 20px;
    grid-template-rows: auto;
    text-align: center;
    justify-items: center;
}

.downland-cv h4 {
    grid-column: span 2;
    margin-bottom: 1rem;
}

/* Botón CV */
.btn-cv {
    border-radius: 0.5rem;
    padding: 0.2rem;
    display: inline-block;
    width: 150px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}
/* Botón CV */

/* Para Tablet y PC */
@media screen and (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: space-between;
        grid-template-rows: 70px auto;
    }

    .about h2 {
        grid-column: span 2;
    }

    .about_son {
        align-self: center;
    }
}
/* Para Tablet y PC */
/* **************************************** ABOUT **************************************** */


/* **************************************** STUDIES **************************************** */
.education-image {
    /* variables --image y --attachment son declaradas en el html con style */
    background-image: url(../assets/education.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
  
.education-image-opacity {
    text-align: center;
    background-color: var(--white-alpha-color); 
}

.education-card {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    max-width: 407px;
    text-align: left;
    background-color: var(--white-alpha-color);
}

/* Para Tablet y PC */
@media screen and (min-width: 768px) {
    .education-cards {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: space-between;
        grid-template-rows: auto auto;
    }

    .education-cards h2 {
        grid-column: span 2;
    }
}
/* Para Tablet y PC */
/* **************************************** STUDIES **************************************** */

/* **************************************** SKILLS **************************************** */
.bg-gray-light {
    background-color: var(--gray-light-color);
}

progress {
    width: 100%;
    height: 0.3rem;
    background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
    /* La barra para llegar al 100, del color gris */
    background-color: var(--gray-color);
}

progress::-webkit-progress-value {
    /* EL color del porcentaje marcado */
    background-color: var(--color-first);
}

/* Para que agarre color en firefox el value */
progress::-moz-progress-bar {
    background-color: var(--color-first);
}

.progress {
    margin: 0.4rem auto;
}

.progress-card {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    border-bottom: 1px solid var(--link-color);
}

.progress-image {
    text-align: end;
    align-self: center;
}

.img-svg {
    width: 23px;
}

.img-svg-firebase {
    width: 90px;
    height: 30px;
}

.img-svg-postgresql {
    width: 80px;
    height: 23px;
}

.progress-svg {
    height: 23px;
    width: 23px;
}

.progress-card b {
    font-size: 0.9rem;
    align-self: center;
}

.skill h2{
    margin-bottom: 2rem;
}

/* Para Tablets */
@media screen and (min-width: 768px) {
    .skill {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        gap: 0 30px;
        align-items: flex-end;
        justify-content: center;
    }

    .skill h2 {
        grid-column: span 2;
    }

    .progress {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .progress-svg {
        height: 30px;
        width: 30px;
    }

    .img-svg {
        width: 30px;
    }

    .img-svg-firebase {
        width: 110px;
        height: 45px;
    }

    .img-svg-postgresql {
        width: 100px;
        height: 30px;
    }
    
    .progress-card b {
        font-size: 1.3rem;
        align-self: center;
    }
}
/* Para Tablets */
/* **************************************** SKILLS **************************************** */

/* **************************************** EXPERIENCE **************************************** */
.experience-container {
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;
}

.experience-item {
    padding: 2.5rem 0.1rem 0.1rem 1.5rem;
    position: relative;
    border-left: 4px solid rgb(128, 124, 124);
}

/* Fecha */
.experience-item::before {
    content: attr(date-is);
    position: absolute;
    margin-left: -1rem;
    top: 1rem;
    display: block;
}

.experience-item::after {
    width: 15px;
    height: 15px;
    display: block;
    top: 1rem;
    position: absolute;
    left: -10px;
    border-radius: 50%;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: rgb(170, 160, 160);
}
  
.experience-item:last-child {
    border-image: linear-gradient(to bottom, rgb(128, 124, 124) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.experience-item {
    width: 100%;
}
.experience-item ul {
    margin: 0;
    padding: 0;
}

.experience-item-li {
    margin: 0;
    padding: 0;
    margin-left: 1.5rem;
    color: rgb(90, 86, 86);
    font-weight: bold;
    font-size: 0.9rem;
}

.items-style {
    color: #000;
    font-weight: lighter;
}

.experience-item-i {
    color: var(--black-color);
    font-weight: lighter;
}

.experience-link {
    font-size: 10px;
    margin-top: 15px;
}
/* Para Tablets */
@media screen and (min-width: 768px) {
    .experience-container {
        width: 80%;
        margin: 0 auto;
    }
}
/* Para Tablets */

/* Para PC */
@media screen and (min-width: 1024px) {
    .experience-container {
        width: 50%;
        margin: 0 auto;
    }
}
/* Para PC */
/* **************************************** EXPERIENCE **************************************** */

/* **************************************** PROJECTS **************************************** */
/* Project */
.project > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: space-between;
}

.project .section-title {
    grid-column: span 2;
}

.project-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.project-card img {
    width: 100%;
    height: 100%;
    /* Si las imágenes pierden aspecto se usa object-fit */
    object-fit: cover;
}

.project-card-info {
    /* Con position absolute, top 0, left 0, los textos se posiciona dentro de la image*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--first-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    /* Animación al seleccionar una tarjeta */
    transition: all 0.5s ease-in-out;
}

.project-card-info > div {
    padding: 1rem;
    border: thin solid var(--white-color);
    width: 100%;
    height: 100%;
}

.project-card-info > div h3{
    font-size: 0.7rem;
    text-align: center;
}

.project-card-info > div  p {
    font-size: 0.5rem;
}

.project-card:hover .project-card-info {
    opacity: 1;
    pointer-events: auto;
}
/* Project */

/* Modal */
.modal-project {
    position: fixed;
    z-index: 1200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    /* Segundos para abrir el modal con transición */
    transition: all 0.3s;
}

.modal-project[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-content-project {
    position: relative;
}

.modal-close-project {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close-project svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.project-modal {
    padding: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--white-color);
}

.project-modal h3 {
    border-bottom: medium solid var(--first-color);
    margin: 1rem auto;
    padding: 0.5rem 0;
    color: var(--title-color);
}

.project-modal img {
    width: 40%;
    height: 40%;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.project-details {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-auto-rows: auto;
    align-items: center;
    font-size: 11px;
    gap: 0.5rem;
}

.project-details b {
    color: var(--first-color);
}
/* Modal */

.project-info p {
    margin: 6px 0;
    font-size: 12px;
}

@media screen and (min-width: 768px) {

    .project-card-info > div h3{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .project-card-info > div  p {
        font-size: 1.2rem;
    }
    
    .margin-top {
        margin-top: 0;
    }

    .project .section-title {
        grid-column: span 2;
        margin-bottom: 40px;
    }

    /* Para abrir el modal con información, al estar declarado para tablets no hace falta hacerlo para escritorio */
    .project-modal {
        max-width: 800px;
        flex-direction: row;
    }

    .project-info {
        margin-left: 1rem;
        align-self: center;
    }

    .project-modal img {
        margin-top: 0;
        align-self: center;
    }

    .project-info p {
        font-size: 15px;
    }

    .project-details {
        font-size: 14px;
        gap: 1rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .project > .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .project .section-title {
        grid-column: span 3;
    }
}
/* **************************************** PROJECTS **************************************** */

/* **************************************** CONTACT **************************************** */
/* Cartas de contacto */
.contact-card {
    width: 100%;
    height: 144px;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-card > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.contact-card > small {
  margin-top: -1rem;
}

/* el box-shadow es para las sombras de las cajas */
.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}
/* Cartas de contacto */

.contact-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

.social-media a {
    padding: 0 0.4rem;
    text-decoration: none;
}

.social-media-svg {
    height: 23px;
    width: 23px;
}

.title-social-media {
    margin-bottom: 20px;
}

/* Para Tablets */
@media screen and (min-width: 768px) {
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }
}
/* Para Tablets */

/* Para PC */
@media screen and (min-width: 1024px) {
    .contact-cards {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        justify-content: space-between;
    }
}
/* Para PC */

/* -------------------- Formulario de Contacto -------------------- */
.contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

/* A todos los elementos de contact-form */
.contact-form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

/* Aplicar la misma fuente a los input y textarea */
.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid var(--gray-dark-color);
}
  
.contact-form textarea {
    border: thin solid var(--gray-dark-color);
    resize: none;
}

/* Clase con selector de atributos */
.contact-form input[type="submit"] {
    margin-top: 0;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

/* Clase con selector de atributos con hover */
.contact-form input[type="submit"]:hover {
    opacity: 0.75;
}

.contact-form *::placeholder {
    color: var(--gray-dark-color);
}

/* El diseño del modal, después de eviar por correo */
.contact-form-response {
    padding: 1rem;
    width: 400px;
    text-align: center;
    background-color: var(--white-color);
}

/* Diseño del svg del modal */
.contact-form-response svg {
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
}

/* Activar el modal de gracias */
.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 1024px) {
    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
  
    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }
  
    /* Darle dos expacios con span para que ocupe las dos columnas */
    .contact-form textarea,
    .contact-form-loader,
    .button-form-submint {
        grid-column: span 2;
    }
}
/* -------------------- Formulario de Contacto -------------------- */
/* Activar el modal de gracias */
.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

/* ------------------------- COMPONENTS: MODAl ------------------------- */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    /* Segundos para abrir el modal con transición */
    transition: all 0.3s;
}

.modal-content {
    position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
    opacity: 1;
    pointer-events: auto;
}

.ghost {
    display: none;
}
/* ------------------------- COMPONENTS: MODAl ------------------------- */
/* **************************************** CONTACT **************************************** */

/* **************************************** SOCIAL FLOATING **************************************** */
.social-whatsapp {
    position: fixed;
    top: 30px;
    left: 20px;
	width: 60px;
    z-index: 1000;
	display: block;
}

.social-whatsapp i {
    font-size: 40px;
    color: #1ebea5;
}

.social-messenger {
    position: fixed;
    top: 80px;
    left: 20px;
	width: 60px;
    z-index: 1000;
	display: block;
}

.social-messenger i {
    font-size: 40px;
    color: #0084ff;
}

@media screen and (min-width: 1024px) {
    .social-whatsapp {
        top: auto;
        left: auto;
        right: 24px;
        bottom: 95px;
    }
    
    .social-whatsapp i {
        font-size: 60px;
    }

    .social-messenger {
        top: auto;
        left: auto;
        right: 24px;
        bottom: 24px;
    }
    
    .social-messenger i {
        font-size: 60px;
    }
}
/* **************************************** SOCIAL FLOATING **************************************** */

/* **************************************** FOOTER **************************************** */
.footer {
    margin-bottom: var(--header-height);
    padding: 0.5rem; 
    text-align: center;
    color: var(--white-color);
    background-color: var(--second-color);
}

.footer small {
    font-size: 13px;
}

.footer small  a {
    margin-left: 5px;
    color: var(--first-color);
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .footer {
        margin-bottom: 0;
    }

    .footer small {
        font-size: 17px;
    }
}
/* **************************************** FOOTER **************************************** */